
p{
    margin-top: 30px;
    padding: 15px;
}

body {
    margin: 8px;
    display: block;
  }

  #mainHeading {
    color: red;
  }

  .funParagraph {
    color: green;
  }
  #testP{
color: green;
  }
